body{
    height: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: black;
}

#banner{
    display: block;
    position: relative;
    background-image: url("img/warehouse.jpg");
    background-size: cover;
    background-position: 25%;
    height: 35%;
    opacity: .7     ;
}

.header{
    height: 8%;
    background-color: rgb(24, 20, 20);
    color: white;
}

.main form{
    padding: 10px;
}

.faqs li{
    border: solid black 1px;
    list-style: none;
    width: 200px;
}
.active{
    background-color: green;
}

.inactive{
    background-color: red;
}

.footer{
    display: block;
    background-color: red;
}
 */
